<div class="panel panel-default">
  <div class="panel-heading">{_gifts.components.gift_subscription_admin_button_widget.header}</div>
  <div class="panel-body">
    <a href="{plink :Gifts:GiftsAdmin:New $userId}" class="btn btn-default">
      <i class="fa fa-magic"></i> {_gifts.components.gift_subscription_admin_button_widget.add_gift_payment}
    </a>
  </div>
</div>
