services:
	moduleManager:
		setup:
			- addModule(Crm\GiftsModule\GiftsModule())

	subscriptionsRepository:
		setup:
			- registerType(Crm\GiftsModule\GiftsModule::SUBSCRIPTION_TYPE_GIFT)

	paymentGiftCouponsRepository: Crm\GiftsModule\Repositories\PaymentGiftCouponsRepository

	activatePurchasedGiftCouponsCommand:
		factory: Crm\GiftsModule\Commands\ActivatePurchasedGiftCouponsCommand

	- Crm\GiftsModule\Components\GiftCoupons\GiftCoupons
	- Crm\GiftsModule\Components\DonatedSubscriptionListingWidget\DonatedSubscriptionListingWidget
	- Crm\GiftsModule\Components\GiftPaymentItemsListWidget\GiftPaymentItemsListWidget
	- Crm\GiftsModule\Components\PaymentSuccessGiftSubscriptionAddressWidget\PaymentSuccessGiftSubscriptionAddressWidget
	- Crm\GiftsModule\Components\OrderDonatedSubscriptionInfo\OrderDonatedSubscriptionInfo

	- Crm\GiftsModule\Events\CreateGiftCouponNewPaymentEventHandler
	- Crm\GiftsModule\Events\GiftPaymentStatusChangeHandler
	- Crm\GiftsModule\Events\PaymentItemContainerReadyEventHandler
	- Crm\GiftsModule\Events\SendWelcomeEmailHandler
	- Crm\GiftsModule\Events\SubscriptionsStartsEventHandler

	- Crm\GiftsModule\Forms\GiftSubscriptionAddressFormFactory

	- Crm\GiftsModule\Seeders\AddressTypesSeeder
	- Crm\GiftsModule\Seeders\ConfigsSeeder

	canDeleteAddressDataProvider: Crm\GiftsModule\DataProviders\CanDeleteAddressDataProvider
	- Crm\GiftsModule\DataProviders\PaymentItemTypesFilterDataProvider
	subscriptionFormDataProvider: Crm\GiftsModule\DataProviders\SubscriptionFormDataProvider
