<style>
    .show-coupon-modal {
        white-space: normal;
    }
    .show-coupon-modal .col-sm-3 {
        width: 15%;
    }
</style>
<div style="position: relative; margin-top: 10px;">
    <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="giftCouponsMenu{$payment->id}" data-toggle="dropdown" aria-expanded="true">
        {_gifts.components.gift_coupons.button_title}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="giftCouponsMenu{$payment->id}">
        {foreach $giftCoupons as $giftCoupon}
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#show-coupon-{$giftCoupon->id}">{$giftCoupon->email}</a>
            </li>
        {/foreach}
    </ul>
</div>

{foreach $giftCoupons as $giftCoupon}
<div class="modal fade show-coupon-modal" id="show-coupon-{$giftCoupon->id}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{_gifts.components.gift_coupons.modal_title} #{$giftCoupon->id}</h4>
            </div>
            <div class="modal-body">
                <p>
                    <strong>{_gifts.components.gift_coupons.email}:</strong>
                    {if $user = $users[$giftCoupon->email]}
                        <a href="{plink :Users:UsersAdmin:show $user->id}" target="_blank">{$user->public_name}</a>
                    {else}
                        {$giftCoupon->email}
                    {/if}<br>

                    <strong>{_gifts.components.gift_coupons.start_at}:</strong>
                    {$giftCoupon->starts_at|userDate}<br>

                    <strong>{_gifts.components.gift_coupons.sent}:</strong>
                    {if $giftCoupon->status === Crm\GiftsModule\Repositories\PaymentGiftCouponsRepository::STATUS_NOT_SENT}
                        {_system.no}
                    {else}
                        {_system.yes}
                    {/if}
                </p>

                {if $giftCoupon->status === Crm\GiftsModule\Repositories\PaymentGiftCouponsRepository::STATUS_SENT}
                    <h4>{_gifts.components.gift_coupons.subscription.header}:</h4>
                    <p>
                    {if $giftCoupon->subscription_id}
                        <strong>{_gifts.components.gift_coupons.subscription.type}: </strong>
                        <a href="{plink :Subscriptions:SubscriptionTypesAdmin:Show $giftCoupon->subscription->subscription_type->id}" target="_blank">
                            {$giftCoupon->subscription->subscription_type->name}
                        </a><br>
                        <strong>{_gifts.components.gift_coupons.subscription.from}: </strong> {$giftCoupon->subscription->start_time|userDate} <br>
                        <strong>{_gifts.components.gift_coupons.subscription.to}: </strong> {$giftCoupon->subscription->end_time|userDate} <br>
                    {else}
                        {_gifts.components.gift_coupons.not_created}
                    {/if}
                    </p>
                {else}
                    <p>{_gifts.components.gift_coupons.note_payment_must_be_paid}</p>

                    <hr>

                    {control "giftEditForm-$giftCoupon->id"}
                {/if}
            </div>
        </div>
    </div>
</div>
{/foreach}
